{% spaceless %}
{
    "sEcho": "{{ sEcho }}",
    "iTotalRecords": {{ iTotalRecords }},
    "iTotalDisplayRecords": {{ iTotalDisplayRecords }},
    "aaData" : [
        {% for sale in sales %}
            {
                "DT_RowId": "{{ 'sale_' ~ sale.id }}",
                "DT_RowClass": "{{ 'sale' }}",
                "0": "",
                "1": "{{ sale.cart.date|datetime('dd.MM.yy', 'HH:mm', time_zone, app.request.locale) }}",
                "2": "{% if(app.request.get('_template')|split(":")[0] == 'DzangocartCoreBundle')%}<a href='{{ path('order', { id: sale.orderId }) }}'>{{ sale.orderId  }}</a>{% else %}<a href='{{ path('home_order', { id: sale.orderId }) }}'>{{ sale.orderId  }}</a>{% endif %}",
                "3": "{% include 'DzangocartCoreBundle:Order:store.html.twig' with { store: sale.order.store } %}",
                "4": "<a href='{{ path('customer_show', { id: sale.order.customerId }) }}'>{{ sale.order.customer.name }}</a>",
                "5": "{{ sale.name }}",
                "6": "{{ sale.quantity|integer(app.request.locale) }}",
                "7": "{{ sale.currencyId }}",
                "8": "{{ sale.getAmountExcl|currency(sale.currencyId, app.request.locale) }}",
                "9": "{{ sale.getTaxAmount|currency(sale.currencyId, app.request.locale)}}",
                "10": "{{ sale.getAmountIncl|currency(sale.currencyId, app.request.locale)}}",
                "11": "{% include 'DzangocartCoreBundle:Sale:actions.html.twig' %}"
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}
{% endspaceless %}
