{% trans_default_domain "order" %}

{% spaceless %}
{
    "draw": "{{ draw }}",
    "recordsTotal": {{ recordsTotal }},
    "recordsFiltered": {{ recordsFiltered }},
    "data" : [
        {% for order in orders %}
            {
                "DT_RowId": "{{ '_' ~ order.id }}",
                "DT_RowClass": "{{ 'order' }}",
                "id": "{{ order.id }}",
                "0": "",
                "1": "{{ order.date|datetime('dd.MM.yy', 'HH:mm', time_zone, app.request.locale) }}",
                "2": "<a href='{{ path('order', { id: order.id }) }}'>{{ order.id  }}</a>",
                "3": "{% include 'DzangocartCoreBundle:Order:store.html.twig' with { store: order.store } %}",
                "4": "{{ order.status }}",
                "5": "{{ order.currencyId  }}",
                "6": "{{ order.getAmountExcl|currency(order.currencyId, app.request.locale) }}",
                "7": "{{ order.getTaxAmount|currency(order.currencyId, app.request.locale)}}",
                "8": "{{ order.getAmountIncl|currency(order.currencyId, app.request.locale)}}",
                "9": ""
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}
{% endspaceless %}
