{% trans_default_domain "customer" %}

<table class="table table-condensed table-hover" id="customers">
	<thead>
		<tr>
			<th class="selectall"></th>
			<th class="realm">{% trans %}customer.customers.realm{% endtrans %}</th>
			<th class="surname">{% trans %}customer.customers.surname{% endtrans %}</th>
			<th class="given_names">{% trans %}customer.customers.given_names{% endtrans %}</th>
			<th class="gender">{% trans %}customer.customers.gender{% endtrans %}</th>
			<th class="email">{% trans %}customer.customers.email{% endtrans %}</th>
			<th class="sales">{% trans %}customer.customers.sales.ytd{% endtrans %}</th>
			<th class="actions"><i class="fa fa-cog"></i></th>
		</tr>
		<tr class="filters">
			<th></th>
			<th>{{ form_widget(form.realm) }}</th>
			<th>{{ form_widget(form.surname) }}</th>
			<th>{{ form_widget(form.given_names) }}</th>
			<th>{{ form_widget(form.gender) }}</th>
			<th>{{ form_widget(form.email) }}</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
