{% extends "DzangocartCoreBundle:Customer:base.html.twig" %}

{% trans_default_domain "customer" %}

{% block page_title %}{% trans with { '%name%': customer.profile.givenNames } %}customer.show.orders{% endtrans %}{% endblock %}

{% block content %}
<div class="orders">
	{% include "DzangocartCoreBundle:Order:orders.html.twig" %}
</div>
{% endblock %}

{% block head_style %}
	{{ parent() }}
	{% include "DzangocartCoreBundle:Order:orders_head_style.html.twig" %}
	{% stylesheets filter="cssrewrite" output="css/*.css"
		'bundles/dzangocartcore/css/order/orders.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock head_style %}

{% block foot_script %}
	{{ parent() }}
	{% javascripts
		'bundles/uamdatatables/js/jquery.dataTables.min.js'
		'bundles/uamdatatables/js/jquery.dataTables_bootstrap.js'
		'bundles/dzangocartcore/js/scripts/order/orders.js'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
	dzangocart.orders = {
		dataTables: {
			aoColumnDefs: [
				{ bVisible: false, aTargets: [ 0, 3 ] }
			],
			sAjaxSource: "{{ path('orders', { _format: 'json', customer_id: customer.id })|raw }}"
		}
	};
	</script>
{% endblock %}
