{% trans_default_domain "order" %}

{% spaceless %}
{
    "sEcho": "{{ sEcho }}",
    "iTotalRecords": {{ iTotalRecords }},
    "iTotalDisplayRecords": {{ iTotalDisplayRecords }},
    "aaData" : [
        {% for order in orders %}
            {
                "DT_RowId": "{{ '_' ~ order.id }}",
                "DT_RowClass": "{{ 'order' }}",
                "id": "{{ order.id }}",
                "0": "",
                "1": "{{ order.date|datetime('dd.MM.yy', 'HH:mm', time_zone, app.request.locale) }}",
                "2": "{% if param['customer'] is defined %}<a href='{{ path('user_order', { id: order.id }) }}'>{{ order.id  }}</a>{% else %}<a href='{{ path('order', { id: order.id }) }}'>{{ order.id  }}</a>{% endif %}",
                "3": "{% include 'DzangocartCoreBundle:Order:store.html.twig' with { store: order.store } %}",
                "4": "<a href='{{ path('customer_show', { id: order.customerId }) }}'>{{ order.customer.name }}</a>",
                "5": "{{ order.status }}",
                "6": "{{ order.currencyId  }}",
                "7": "{{ order.getAmountExcl|currency(order.currencyId, app.request.locale) }}",
                "8": "{{ order.getTaxAmount|currency(order.currencyId, app.request.locale)}}",
                "9": "{{ order.getAmountIncl|currency(order.currencyId, app.request.locale)}}",
                "10": "{% include 'DzangocartCoreBundle:Order:actions.html.twig' %}"
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}
{% endspaceless %}
