{% trans_default_domain "order" %}

<div class ="row">
    <div class="filters" >
        <div class="col-md-3">
            {{ form_label(form.date_range) }}
            {{ form_widget(form.date_range) }}
            {{ form_widget(form.date_start) }}
            {{ form_widget(form.date_end) }}
        </div>
    </div>
</div>

<table class="table table-condensed">
    <thead>
        <tr>
            <th class="selectall"></th>
            <th class="datetime">{% trans %}order.orders.date{% endtrans %}</th>
            <th class="id">{% trans %}order.orders.id{% endtrans %}</th>
            <th class="store">{% trans %}order.orders.store_name{% endtrans %}</th>
            <th class="customer">{% trans %}order.orders.customer{% endtrans %}</th>
            <th class="status">{% trans %}order.orders.status{% endtrans %}</th>
            <th class="currency">{% trans %}order.orders.currency{% endtrans %}</th>
            <th class="gross">{% trans %}order.orders.gross{% endtrans %}</th>
            <th class="tax">{% trans %}order.orders.tax{% endtrans %}</th>
            <th class="net">{% trans %}order.orders.net{% endtrans %}</th>
            <th class="actions"><i class="fa fa-cog"></i></th>
        </tr>
        <tr class="filters" >
            <th></th>
            <th></th>
            <th class="filters_keyup">{{ form_widget(form.id) }}</th>
            <th class="filters_keyup store_name">{{ form_widget(form.store_name) }}</th>
            <th class="customer_name">{{ form_widget(form.customer) }} {{ form_widget(form.customer_id) }}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
